[Unit]
Description=pppd client service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/pppd-client.sh

[Install]
WantedBy=multi-user.target