[Unit]
Description=pppd server service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/pppd-server.sh

[Install]
WantedBy=multi-user.target