[Unit]
Description=pppd client service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/bin/pppd-client.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target